.navbar{
    z-index: 9999;
    background: transparent;
    transition: background-color 0.3s ease-in-out;
    border-bottom: 1px solid #ccc;
}

.card{
    max-height: 500px;
}

/* Styles for the white navbar after scrolling */
.navbar.scrolled {
background: white;
/* Add other styles for the white navbar */
}


.navbar.scrolled .colored{
    color: black;
}